h1{
  color: blue;
  font-size: 2.5rem;
  margin: 1rem auto;
}

.colorBox {
  width: 300px;
  height: 300px;
  transition: 0.0001s;
}

#root {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorBox {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border:2px solid black;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
}